<table class="table text-center">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Stock</th>
            <th> Compra </th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance}">
            <td> {{product.name}} </td>
            <td> {{product.price | currency}} </td>
            <td> <img width="80" [src]="product.img" [alt]="product.name"> </td>
            <td> <span class="badge bg-success" *ngIf="product.stock == 0"> No disponible </span> </td>
            <td>
                <app-input-quantity [quantity]="product.quantity" [max]="product.stock" *ngIf="product.stock"></app-input-quantity>
            </td>
        </tr>

    </tbody>
</table>