.clearance {
    background-image: url(../../assets/img/oferta.png);
}

td {
    vertical-align: middle;
}

thead {
    background-color: grey;
    color: rgb(95, 22, 22);
    font-size: 20px;
}

tbody {
    background-color: rgba(128, 128, 128, 0.699);
    color: black;
}

table {
    border: 1px solid rgb(95, 22, 22);
    border-radius: 15%;
    margin-top: 20px;
}

img {
    border: 1px solid black;
}