<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance}">
            <td> {{product.name}} </td>
            <td> {{product.price | currency}} </td>
            <td> <img [src]="product.img" [alt]="product.name"> </td>
            <td> <span class="badge bg-success" *ngIf="product.stock == 0"> No disponible </span> </td>
        </tr>

    </tbody>
</table>