/* You can add global styles to this file, and also import other style files */

body {
    background-image: url(assets/img/universo2.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin: 0;
}

.centrar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: black;
    text-transform: uppercase;
    align-items: flex-end;
    margin-top: 20px;
}